## Import Needed Libraries and Set Options

In [2]:
import pandas as pd
import numpy as np

print('Libraries imported')

Libraries imported

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

print('Option set to display all dataframe rows')

Option set to display all dataframe rows

## Scrape Table from Wikipedia Page

In [21]:
postals = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)[0]#we only want the first table in the wikipedia page (read_html returns all tables in one pandas frame)
postals = postals[postals['Borough'] != 'Not assigned'].reset_index().drop('index', axis = 1)
postals.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [22]:
postals.shape

(103, 3)

####

## Obtain Geographical Coordinates for Each Neighborhood and Add to Dataframe

(I could not get geocoder to work, so I used the provided csv file)

In [23]:
coords = pd.read_csv("http://cocl.us/Geospatial_data")
coords.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
coords.shape

(103, 3)

In [25]:
postals = postals.merge(coords, on = 'Postal Code').sort_values(by = 'Postal Code')
postals.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
22,M1G,Scarborough,Woburn,43.770992,-79.216917
26,M1H,Scarborough,Cedarbrae,43.773136,-79.239476